In [90]:
import random
import os
import pandas as pd

def randomRows(df,amount):
    data_sample = df.loc[0:(len(df)-3)].sample(amount)
    #data_sample=data_sample.sort_index()
    return data_sample

In [93]:
data_folder='/work/weiy/DataAnalysisFramework-ref/data/TimeSeries'
file='dataHistorian-Cryolite-20190101-OneDay.csv'
file_path=os.path.join(data_folder,file)
data_df=pd.read_csv(file_path,header=0)
data_df.iloc[304]

timestamp;tagname;value;quality    01/01/2019 11:58:38;CRY.CENTRALE_SOLAIRE.CRY_a...
Name: 304, dtype: object

In [91]:
df=randomRows(data_df,10)
df

                         timestamp;tagname;value;quality
14827  01/01/2019 22:13:44;CRY.TGBT_NORMAL.CRY_app_co...
19268  01/01/2019 18:39:31;CRY.TGBT_NORMAL.CRY_rea_co...
11143  01/01/2019 10:05:10;CRY.TGBT_NORMAL.CRY_app_co...
6905   01/01/2019 19:48:11;CRY.TGBT_NORMAL.CRY_act_co...
20729  01/01/2019 23:59:28;CRY.TGBT_NORMAL.CRY_rea_co...
743    01/01/2019 10:49:33;CRY.CENTRALE_SOLAIRE.CRY_a...
304    01/01/2019 11:58:38;CRY.CENTRALE_SOLAIRE.CRY_a...
7521   01/01/2019 21:54:32;CRY.TGBT_NORMAL.CRY_act_co...
14128  01/01/2019 19:58:48;CRY.TGBT_NORMAL.CRY_app_co...
15627  01/01/2019 00:38:09;CRY.TGBT_NORMAL.CRY_rea_co...