# Présentation des données éoliennes

In [1]:
import os
import pandas as pd

In [2]:
data_dir = '/work/irlin355_1/gratienj/BigData/DigitalSandBox/Data/TimeSeries'
test_dir = 'WindPropData/Lacq/OneDayP25'
test_name = 'myTestCsv_0.csv'

In [7]:
filename = os.path.join(data_dir,test_dir,test_name)
df = pd.read_csv(filename,sep=',')
df[0:2]

,Heure :,Temps écoulé,4069 state,Battery voltage,Flow SP,Unit Code,Flow M,Pressure,Temperature,Latitude,...,C2H6,C2H6_dry,13CH4,H2O,CO2,C2C1Ratio,Delta_iCH4_Raw,HP_Delta_iCH4_30s,HP_Delta_iCH4_2min,HP_Delta_iCH4_5min
0,02/10/2019 09:11:02,0,"1,010000","888888,00","9,00","17,00","0,00","1,008","19,933","43,247596",...,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
1,02/10/2019 09:11:03,1,"1,010000","888888,00","9,00","17,00","0,00","1,008","19,955","43,247597",...,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"